@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #212529;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}

.form-select:focus {
    box-shadow: none;
    border-color: black;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #a9a9a9;
}
.form-check-input {
    border-color: #a9a9a9;
}